body{
    margin: 0;
    padding: 0;
    font-family: FreeMono, monospace;
}
#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a{
    text-decoration: none;
    color: black;
}

